<a href="https://colab.research.google.com/github/dbdb7214/DL23/blob/main/DL/DLW02b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# üìó Topic [2]: Coding basic #2
---
Keywords:

+ variables
+ operators
+ data types: list and dictionary

Your github IDs [here](https://docs.google.com/spreadsheets/d/1rBlWeffj5RaBQS-lcv46r3Xe-JVF8PpwDngsuQhLKCc/edit?usp=sharing)

## [1] Variables

+ **A variable** is a named storage location that holds a value.
+ Variables can be used **to store values** such as numbers, strings, lists, or other data types. 
+ The value of a variable can change throughout the execution of a program. 
+ To declare a variable in Python, you need to assign a value to it using the **equal (=) sign.**

In [1]:
x = 10
y = "Hello, class!"
z = [1, 2, 3]

In [5]:
print(x)
y
z

10

[1, 2, 3]

‚ÜóÔ∏è In the above example, 'x' is assigned the value of 10, 'y' is assigned the value of "Hello, World!", and 'z' is assigned the value of [1, 2, 3].

In [6]:
# We can assign a link or a function
import pandas as pd
url = "https://github.com/MK316/Spring2023/raw/main/data/att_sample.csv"
data = pd.read_csv(url)
data

      Names
0      Mary
1      John
2       Tim
3       Bob
4     Sarah
5      Kate
6     Marie
7   Johnson
8      Mike
9     Harry
10      Jin
11      Sam
12     Paul
13  Natalie

## Commenting '#'

- In Python, the # symbol is used to indicate a comment. A comment is a line of text in a code that is ignored by the Python interpreter and is used to provide explanations or notes for the reader of the code.

In [7]:
# This is a comment in Python
x = 10 # this is also a comment

In [8]:
x1 = x * 10
x2 = x + 5

print(x1, x2)

100 15

In [9]:
y1 = y + "Welcome to the class."
z1 = z + [3,2,1]
 
print(y1, z1)

Hello, class!Welcome to the class. [1, 2, 3, 3, 2, 1]

## [2] Operators

* Symbols that perform operations on values and variables. 
* They are used to perform arithmetic and logical operations, and they can also be used to manipulate and compare values.

1. Arithmetic Operators: +, -, *, /, %, ** (for exponentiation)

In [ ]:
x = 2; y = 5

a1 = x + y
a2 = x - y
a3 = x * y
a4 = x / y
a5 = x ** y

In [ ]:
print(a1, a2, a3, a4, a5)

7 -3 10 0.4 32

# üå± Demo üî¢ Calculator

In [ ]:
#@markdown üîÑ [1] Making functions (sample): tts(text)
%%capture
!pip install gTTS
from gtts import gTTS
from IPython.display import Audio

def tts(text):
  gtts_object = gTTS(text,lang = "en", slow = True) 
  gtts_object.save("myaudio.mp3")
  return Audio("myaudio.mp3")

In [ ]:
# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y

In [ ]:
# Test

add(2,3)
# subtract(3,2)
# multiply(2,3)
# divide(3,2)

5

## Using dropbox format

In [ ]:
func = "subtract" #@param = ["add","subtract","multiply","divide"]
digits = input("Type two numbers: (e.g., 3,4)")
digitsplit = digits.split(',')
d1 = int(digitsplit[0])
d2 = int(digitsplit[1])

if func == "add":
  result = add(d1,d2)
  text = "The addition of %d and %d equals %d."%(d1,d2,result)
elif func == "subtract":
  result = subtract(d1,d2)
  text = "If you subtract %d from %d, you get %d."%(d2,d1,result)
elif func == "divide":
  result = divide(d1,d2)
  text = "When you divide %d by %d, you get %d."%(d1,d2,result)
elif func == "multiply":
  result = multiply(d1,d2)
  text = "%d multiplied by %d is %d."%(d1,d2,result)

print(text)
tts(text)
Audio("myaudio.mp3")

More operators: <br>
* Comparison Operators: ==, !=, <, >, <=, >= <br>
* Assignment Operators: =, +=, -=, *=, /=, %= <br>
* Logical Operators: and, or, not <br>
* Identity Operators: is, is not <br>
* Membership Operators: in, not in

# ‚è∞ Todo:

Using Colab, create a code page (DL_Assign01.ipynb) and post it on your Github account under a repository named DL.


1. Create a repository named "DL"
2. Open DL_Assign01.ipynb on colab: üíæ**Goto [Assign#1](https://github.com/MK316/Spring2023/blob/main/DL/DL_Assign01.ipynb)**
3. Complete code cells following the directions
4. Save a copy in Github (File > Save a copy in Github)



---